# PHP Settings
PHP_MEMORY_LIMIT=128M
PHP_UPLOAD_MAX_FILESIZE=25M
PHP_POST_MAX_SIZE=25M
PHP_MAX_EXECUTION=60

# OPCache
PHP_OPCACHE_ENABLE=true
PHP_OPCACHE_ENABLE_CLI=true
PHP_OPCACHE_MEMORY_CONSUMPTION=128MB
PHP_OPCACHE_MAX_ACCELERATED_FILES=30000
PHP_OPCACHE_CONSISTENCY_CHECKS=false
PHP_OPCACHE_VALIDATE_TIMESTAMPS=true
PHP_OPCACHE_JIT=1255
PHP_OPCACHE_JIT_BUFFER_SIZE=128MB

# XDebug
PHP_XDEBUG_ENABLE=no
PHP_XDEBUG_IDE_KEY=SM_ASSIGNMENT
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_CLIENT_HOST=docker.for.mac.localhost
PHP_XDEBUG_CLIENT_PORT=9003
PHP_XDEBUG_DISCOVER_CLIENT_HOST=yes
PHP_XDEBUG_CLI_COLOR=1
PHP_XDEBUG_VAR_DISPLAY_MAX_DEPTH=10
PHP_XDEBUG_LOG_LEVEL=0
PHP_IDE_CONFIG=serverName=sm_assignment
